.footer{
    /* position: fixed; */
    bottom: 0px;
    height: 150px;
    width: 100%;
    /* margin-left: 70px; */
    /* margin-top: 80px; */
    padding-left: 100px;
    padding-top: 10px;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-image: linear-gradient(to right bottom, #302528, #291e1d, #201914, #16130a, #070b00);
    /* font-weight: 100; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}